<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="validationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

  <connectionStrings>

    <add name="dbconnection" connectionString="Data Source=DESKTOP-N0HCG1H;Initial Catalog=ldce_help_desk;Integrated Security=True"/>
    <add name="desktop-n0hcg1h.ldce_help_desk" connectionString="Data Source=DESKTOP-N0HCG1H;Initial Catalog=ldce_help_desk;Integrated Security=True" providerName="System.Data.SqlClient"/>
    
  </connectionStrings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
